.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
          text-transform: none;
        }

.reveal h1  {
          font-size: 3em !important;
        }   
        
.reveal h2  {
          font-size: 2.5em !important;
        }

.reveal p,
.reveal li {
    color: var(--muted);
    line-height: 1.5;
}

#title-slide p {
    text-align: left !important;
}

#title-slide {
    text-align: left !important;
}

#title-slide .quarto-title-authors {
    justify-content: flex-start !important;
}

#title-slide .quarto-title-author {
    padding-left: 0 !important;
}

